footer{
    background-color: brown;
}

header {
    background-color: chartreuse;
    text-align: center;
}
ol{
    color: darkgoldenrod;
    text-align: left;
}

ul{
    background-color: purple;
    color: white;
}